@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

/* eslint-disable arrow-body-style */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gradient-200: linear-gradient(
    to_right,
    _hsl(192, _100%, _67%),
    _hsl(280, _87%, _65%)
  );
}

body {
  font-family: "Josefin Sans", Arial;
  font-size: 18px;
}
